.carousel-control-prev,
.carousel-control-next{
    width: 4%;height: 20%;
    background-color: #aaaaaa;
    border-radius: 0.25rem;
    top: 40%;
}
.carousel-control-prev{
    left: 0.25rem;
}
.carousel-control-next{
    right: 0.25rem;
}
@media (min-width: 768px){
    .carousel-indicators li{
        width: 0.8rem;height: 0.8rem;
        border-radius: 50%;
        background: #ffffff;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
}
@media (max-width: 767px){
    .carousel-indicators li{
        width: 0.4rem;height: 0.4rem;
        border-radius: 50%;
        background: #ffffff;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}
.carousel-indicators li.active{
    background: #0aa1ed;
}
.border-bottom{border-bottom-width: 0.15rem !important;}
.top_height{
    height: 377px;
    background: #e8e8e8;
}
.bottom_height {
    height: 233px;
    background: #e8e8e8;
}
.w-35{width: 35%;}
.img1{
    margin-top: -200px;
    margin-right: 30px;
    transition: 1s;
}

.img1:hover{
    transform:scale(1.1);
}
.img2{
    margin-top: -200px;
    margin-right: 30px;
    transition: 1s;
}

.img2:hover{
    transform:scale(1.1);
}
.img3{
    margin-top: -110px;
    margin-right: 10px;
    transition: 1s;
}
.img3:hover{
    transform:scale(1.1);
}
@media (min-width: 576px) {
    .img3{margin-top:-120px;
        margin-right:45px;
        transition:transform 1s;
    }
}
@media (min-width: 768px) {
    .img3{margin-top:-120px;
        margin-right:60px;
        transition:transform 1s;
    }
}
@media  (min-width:992px) {
    .img3{margin-top:-110px;margin-right:-10px;
        transition:transform 1s;
    }
}
.img3:hover{
    transform:scale(1.1);
}





