.my_gray{
    padding-left: 1rem;
    background: linear-gradient(to bottom,#f0f0f0 0%, #e0e0e0 100%);
}
.my_input{
    width: 15%;
    border: 0;outline: 0;
    text-align: center;
}
.my_button{
    width: 1.5rem;height: 1.5rem;
    padding: 0;
    border: 0;outline: 0;
    font:bold 1rem ºÚÌå;
    color: #ffffff;
}
.page-link{
    padding: 0.3rem 0.75rem;
    background: transparent;
    border-color: #999999;
}
.page-link:hover{
    border-color: #0aa1ed;
}
.page-item+.page-item{
    margin-right: 0.4rem;
}
.border-top{
    border-top-style:dashed !important;
}


